/*----------------------- Resets -----------------------*/

:root {
  --colors-white: #EEEEF4;
  --colors-grey: #E0E0EE;
  --colors-black-50: #89898B;
  --colors-black-100: #141418;
  --colors-blue-20: #C4C4F4;
  --colors-blue-50: #5252E4;
  --colors-blue-100: #1E1EDC;
  --font-size-body: 1rem;
  --font-size-heading: 1.333rem;
  --font-size-title: 1.777rem;
  --font-size-largetitle: 3.555rem;
  --font-size-styledtitle: 7.111rem;
}

* {
  color: var(--colors-black-100);
  text-rendering: geometricPrecision;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 150ms ease-out;

  &:focus-visible {
    outline: var(--colors-blue-100) solid 3px;
    outline-offset: 2px;
    position: relative;
    z-index: 100;
  }
}

html {
  height: 100vh;
  width: 100vw;
  padding: 0px 48px;
  font: 18px arial, sans-serif;
  background: var(--colors-white);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
}

main {
  width: 100%;
}

p {
  font-size: var(--font-size-body);
  line-height: 1.5;
}

hr {
  border: 1.5px solid var(--colors-black-100);
  border-radius: 10px;
}



/*----------------------- Buttons -----------------------*/

.primary_button {
  padding: 0.5rem 1rem;
  border-radius: 100px;
  border: none;
  background: var(--colors-blue-100);
  color: var(--colors-white);

  &:hover {
    background: var(--colors-blue-50);
  }
}

.secondary_button {
  border-radius: 100px;
  background-image: linear-gradient(to top left, var(--colors-blue-100), var(--colors-blue-20));

  &>p {
    padding: 0.5rem 1rem;
    background: var(--colors-white);
    line-height: normal;
    margin: 2px;
    border-radius: 100px;
    color: var(--colors-blue-100);
  }
}

.tertiary_button {
  color: var(--colors-black-100);

  &:hover {
    color: var(--colors-black-50);
  }
}



/*----------------------- Classes -----------------------*/

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.column {
  flex-direction: column;
}

.align {
  align-items: center;
}

.space {
  justify-content: space-between;
}

.right {
  text-align: right;
}

.sm_gap {
  gap: 8px;
}

.med_gap {
  gap: 16px;
}

.lg_gap {
  gap: 32px;
}

.hg_gap {
  gap: 64px;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.styled_title {
  font: var(--font-size-styledtitle) 'Times New Roman', times, serif;
  font-size: var(--font-size-styledtitle);
  line-height: 1.3;
  width: 100%;
}

.fs_header {
  font-size: var(--font-size-heading);
  line-height: 1.3;
}

.fs_title {
  font-size: var(--font-size-title);
  line-height: 1.3;
}

.fs_largetitle {
  font-size: var(--font-size-largetitle);
  line-height: 1.3;
}

.bold {
  font-weight: bold;
}

.blue {
  color: var(--colors-blue-100);
}

.no_overflow {
  overflow: hidden;
  touch-action: none;
}



/*----------------------- Header -----------------------*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--colors-white);
  height: 48px;
  padding: 0px 48px;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 300ms ease-out;
}

.head_hide {
  top: -100px;
}

nav.large_nav {
  position: fixed;
  right: 48px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.logo {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
}

.menu,
.small_nav {
  position: fixed;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-out;
}

.menu {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0px 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.small_nav {
  height: 0px;
  top: 48px;
  padding: 24px;
  gap: 32px;
  background: var(--colors-white);
}

.nav_link {
  align-items: center;
  display: flex;
  gap: 16px;
  position: relative;
  top: -32px;
  opacity: 0;
  font-size: var(--font-size-largetitle);
  transition: all 300ms ease-in-out;
  transition-delay: 150ms;

  &.group {
    flex-direction: column;
    align-items: flex-start;

    &>a {
      font-size: 1rem;
      color: var(--colors-black-50);
    }
  }
}

.bg_blur {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  transition: all 300ms ease-out;
}



/*----------------------- Sections -----------------------*/

section {
  padding: 96px 0px;
}

.hero {
  margin-top: 48px;
}

.about_img {
  width: 40%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
}

.about_text {
  width: 60%;
}

.project {
  gap: 16px;
  display: flex;
  align-items: center;

  &>h2 {
    font-weight: normal;
  }
}



/*----------------------- Form -----------------------*/

form {
  height: fit-content;

  & input {
    border-bottom: 2px solid var(--colors-black-100);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding-bottom: 8px;
    background: transparent;
    font-size: var(--font-size-heading);
  }

  & textarea {
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid var(--colors-black-100);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding-bottom: 8px;
    background: transparent;
    font-size: var(--font-size-heading);
    resize: none;
    height: 176px;
  }

  & button {
    width: fit-content;
    font-size: var(--font-size-body);
    font-weight: normal;
  }
}

input:focus,
textarea:focus {
  outline: none;
}

input:user-invalid,
textarea:user-invalid {
  border-bottom: 2px solid red;
}



/*----------------------- Footer -----------------------*/

footer {
  padding: 96px 0px;
}



/*----------------------- Animations -----------------------*/

.load_screen {
  justify-content: center;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: none;
  animation:
    load 2.5s ease-in-out,
    hide 2.6s forwards;
  background: var(--colors-white);
  z-index: 15;

  &>h1 {
    pointer-events: none;
    position: relative;
    animation: load_text 0.5s ease-in-out;
    animation-delay: 2s;
  }
}

@keyframes load {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    z-index: 15;
  }

  99% {
    z-index: 15;
  }

  100% {
    z-index: -15;
  }
}

@keyframes load_text {
  0% {
    top: 0;
  }

  100% {
    top: -50px;
  }
}


/*----------------------- Screens -----------------------*/

@media screen and (max-width: 1024px) {

  :root {
    --font-size-body: 0.888rem;
    --font-size-heading: 1.111rem;
    --font-size-title: 1.555rem;
    --font-size-largetitle: 2.666rem;
    --font-size-styledtitle: 5.333rem;
  }

  footer {
    display: flex;

    &>div.hg_gap {
      flex-direction: column;
      gap: 32px;
      align-items: flex-end;
    }

    &>div div {
      width: fit-content;
      flex-direction: row;
    }
  }
}

@media screen and (max-width: 768px) {

  :root {
    --font-size-body: 0.888rem;
    --font-size-heading: 1rem;
    --font-size-title: 1.333rem;
    --font-size-largetitle: 1.777rem;
    --font-size-styledtitle: 3.555rem;
  }

  html {
    padding: 0px 24px;
  }

  div.langs {
    gap: 8px;
  }

  .large_nav {
    opacity: 0;
    pointer-events: none;
  }

  .menu,
  .small_nav.active {
    opacity: 1;
    pointer-events: all;
  }

  .small_nav.active {
    height: 223px;

    &>.nav_link {
      top: 0;
      opacity: 1;
    }
  }

  .bg_blur.active {
    opacity: 1;
    z-index: 0;
  }

  section {
    padding: 48px 0px;
  }

  #projects>div {
    gap: 24px;
  }

  .project {
    gap: 8px;
    align-items: flex-start;
  }

  header {
    padding: 0px 24px;
  }

  #about {
    flex-direction: column;
  }

  .about_img {
    width: 100%;
  }

  .about_text {
    width: 100%;
  }

  footer {
    padding: 48px 0px;
  }

}

@media screen and (max-width: 480px) {

  .secondary_button {
    border-radius: 100px;

    &>p {
      font-size: 0.777rem;
    }
  }

  .hero {
    padding: 72px 0px;
  }

  .project {
    flex-direction: column;
  }

  footer {
    gap: 32px;

    &>.url {
      display: flex;
      flex-direction: column;
      line-height: normal;
      letter-spacing: -2px;
    }

    &>div.hg_gap {
      flex-direction: row;
    }

    &>div div div {
      flex-direction: column;
    }
  }

  #contact>div {
    flex-direction: column;
    width: 100%;
    gap: 64px;

    &>div {
      width: 100%;
      flex-direction: row;
      gap: 16px;

      & a {
        width: 100%;
      }
    }
  }

  form.w-50 {
    width: 100%;
  }

}